*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rajdhani", sans-serif;
    font-style: normal;
}

.container{
    max-width: 1280px;
    width: 50%;
    margin: 0 auto;
}

input,textarea, button{
    display: block;
    width: 100%;
}

h1{
    padding: 16px;
}

.sucesso{
    background-color: darkgreen;
    padding: 16px;
    color: white;
    width: 100%;
    display: none;
    margin-bottom: 8px;

}

.erro{
    background-color: rgb(149, 2, 4);
    padding: 16px;
    color: white;
    width: 100%;
    display: none;
    margin-bottom: 8px;

}


.container p{
    text-align: left;
    margin-left: 0;
}

#campo-a,
#campo-b{
    width: 100%;
    padding: 16px;
    margin-top: 8px;
    font-size: 16px;
    border:solid 1px #ccc;
}


button{
    background-color: brown;
    padding: 16px 32px;
    margin-top: 8px;
    font-size: 18px;
    color: rgb(242, 242, 242);
    font-weight: bolder;
    border:solid 1px #ccc;
}

button:hover{
    background-color:rgb(171, 86, 86);
    cursor: pointer;
}


.enviar{
    background-color: rgb(42, 165, 42);
    padding: 16px 32px;
    margin-top: 8px;
}

.enviar:hover{
    background-color:rgb(80, 168, 80);
    cursor: pointer;
}


